/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */

html {
  background-color: rgba(122, 191, 191, 0.5);
}

body {
  margin: 0 auto;
  width: 414px;
  background-color: #f2f2f2;
  color: #0d0d0d;
}

p, dd, li, nav, input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav a, nav span, menu li, #social li, footer, footer span {
  font-size: 20px;
}

/* st-tacos */
#st-tacos{
  margin-top: 160px;
  position: relative;
}

#st-tacos h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
#st-tacos menu {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#st-tacos a span {
  order: 2;
}

#st-tacos a svg,
#st-tacos a img {
  order: 1;
}

#st-tacos a,
#st-tacos a:visited,
#st-tacos a:active {
  color: #EB5428;
  text-decoration: none;
}

#st-tacos a:hover,
#st-tacos a:hover svg {
  color: #F2F2F2;
  text-decoration: none;
  stroke: #F2F2F2;
}

#st-tacos li:hover {
  background-color: #EB5428;
}

#st-tacos a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#st-tacos menu li {
  display: flex;
  align-items: center;
}

img {
  width: 100%;
}

#st-tacos p {
  margin: 10px;
  line-height: 1.5;
}

menu li {
  display: flex;
  color: #EB5428;
}

/* nav */
nav {
    position: absolute;
    top: 0;
    width: 414px;
    z-index: 100;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
}
  
nav > h2{
    visibility: hidden;
    height: 0;
}
  
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
  
nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eb5428;
}
  
nav span {
    order: 2;
}
  
nav svg,
  nav img {
    order: 1;
}
  
nav label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
    background-color: white;
    height: 84px;
    width: 84px;
}
  
nav label span {
    background-color: #ffffff;
    display: block;
    position: relative;
    transition: background-color 0.2s ease-out;
}
  
nav input {
    display: none;
}
  
nav input:checked ~ ul {
    max-height: 500px;
    background-color: white;
}
  
nav ul li:nth-child(1) a,
nav ul li:nth-child(1) a:visited,
nav ul li:nth-child(1) a:hover,
nav ul li:nth-child(1) a:active {
    position: absolute;
    left: 84px;
    top: 0;
    width: 246px;
    height: 84px;
    background-color: #eb5428;
    text-align: center;
}
  
nav ul li:nth-child(1) span {
    visibility: hidden;
}
  
nav ul li:nth-of-type(n + 2) a,
nav ul li:nth-of-type(n + 2) a:visited,
nav ul li:nth-of-type(n + 2) a:hover,
nav ul li:nth-of-type(n + 2) a:active {
    text-transform: uppercase;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  nav ul li:last-of-type a,
  nav ul li:last-of-type a:visited,
  nav ul li:last-of-type a:hover,
  nav ul li:last-of-type a:active {
    text-transform: uppercase;
    position: absolute;
    left: 330px;
    top: 0;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    height: 84px;
    width: 84px;
  }
  
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:active {
    text-decoration: none;
  }
  

nav li:hover {
    background-color: #eb5428;
  }
  
nav ul li:last-of-type a:hover svg,
nav ul li:nth-of-type(n + 2) a:hover {
    color: white;
    background-color: #eb5428;
    stroke: white;
}
  
  
nav label svg {
    margin-top: 15px;
}
  
nav #home svg {
    margin-top: 10px;
}
  
nav #home span {
    font-size: 0;
}
  
nav img {
    display: none;
}

nav #sign-in svg{
    margin-top: 10px;
}
  
nav #sign-in span {
    color: #0d0d0d;
}




/* detail */
#details li span:first-of-type {
    font-weight: 700;
    margin-left: 20px;
}

.detailslist {
    padding-left: 10px;
    font-size: 400;
    line-height: 1.5rem;
}
#details h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 14px;
}

/* ingredient */
#ingredients {
  width: 414px;
  margin: 20px auto;
}

#ingredients h2 {
  text-align: center;
}

#ingredients ul {
  list-style-type: disc;
  padding-left: 24px;
  line-height: 2;
}

#directions {
  height: auto;
  width: 414px;
  margin-top: 22px;
}

#directions h2 {
  text-align: center;
}

#directions ol {
  list-style-type: decimal;
  padding-left: 25px;
  line-height: 1.5;
}

#directions li {
  padding: 10px 0;
}

#side-dishes {
  background-color: #7abfbf;
  border-bottom: 1.2rem solid #f2f2f2;
}

#side-dishes img {
  width: 88%;
  padding-left: 5px;
}

#side-dishes h2 {
  text-align: center;
  padding: 10px 0;
}

.sides-container {
  padding-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "side-image side-heading"
    "side-image side-p1"
    "side-image side-p2"
    "side-image star-container";
}

.sides-container h3,
.sides-container p {
  margin: 0 0 0 15px;
}

.sides-container h3 {
  padding-bottom: 14px;
  grid-area: side-heading;
  text-transform: uppercase;
}

.sides-container img {
  grid-area: side-image;
  margin: 0 0 0 5px;
}

.sides-container p:nth-of-type(1) {
  grid-area: side-p1;
  padding-bottom: 8px;
}

.sides-container p:nth-of-type(2) {
  grid-area: side-p2;
  padding-bottom: 3px;
  font-weight: bold;
}

.star-container {
  margin-left: 5px;
}

.icon-tabler-star {
  margin: 0 4px;
}

form button {
  background-color: #eb5428;
}

form fieldset {
  visibility: hidden;
  font-size: 0;
}

#search {
  position: absolute;
  top: 84px;
  display: flex;
  width: 414px;
  height: 70px;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 36px;
  z-index: 1;
}

#search input,
#search button {
  height: 46px;
  border: 2px solid #eb5428;
}

#search input {
  width: 266px;
  font-size: 12px;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "footer-image"
    "small1"
    "small2";
  align-items: center;
  background-color: white;
  height: auto;
  padding-top:20px;
}

footer h2,
footer h3 {
  visibility: hidden;
  height: 0;
}

footer ul {
  margin-top: 22px;
  display: flex;
  grid-area: social;
  justify-content: space-around;
  width: 414px;
}

#social a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social a span {
  order: 2;
}

#social a svg,
#social a img {
  order: 1;
}

#social a:hover,
#social a:hover svg {
  color: white;
  text-decoration: none;
  stroke: white;
}

#social li:hover {
  background-color: #eb5428;
}

#social li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  color: #eb5428;
  text-decoration: none;
}

footer img {
  width: 47%;
  grid-area: footer-image;
  margin: 14px auto 28px; 
}

.small1 {
  grid-area: small1;
  text-align: center;
}

.small2 {
  grid-area: small2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin-top: 211px;
    background-color: #f2f2f2;
  }

  #st-tacos h1 {
    text-align: left;
    padding: 28px 0 16px 10px;
  }

  #st-tacos menu {
    position: absolute;
    top: 84px;
    background-color: rgba(242, 242, 242, 0.7);
    height: 100px;
    padding-bottom: 0;
    width: 768px;
  }

  #details ul {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    text-align: center;
  }

  #details span {
    line-height: 1.4;
  }

  #details li span:first-of-type{
    margin-left: auto;
    margin-right: 3px;
  }
  .detailslist {
    margin-left: 3px;
    margin-right: auto;
  }

  #ingredients {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    height: 418px;
    margin-top: 5px;
  }

  #ingredients h2 {
    padding-bottom: 10px;
  }

  #ingredients ul {
    line-height: 2.11;
  }

  #directions {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 418px;
    margin-top: 5px;
  }

  #directions h2 {
    padding-bottom: 10px;
  }

  #directions ol {
    padding-left: 25px;
  }

  .side {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #side-dishes {
    border-bottom: none;
  }

  .sides-container{
    padding-top: 15px;
    padding-bottom: 12px;
  }

  #side-dishes img {
    width: 87%;
    padding-left: 5px;
  }

  nav {
    position: absolute;
    top: 84px;
    width: 768px;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 126px;
  }

  nav ul {
    overflow: visible;
    position: relative;
    top: 0;
    height: 150px;
    display: flex;
    justify-content: space-around;
    width: 768px;
    align-items: flex-start;
    margin-top: 5px;
  }

  label span,
  nav input {
    display: none;
  }

  nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eb5428;
    flex-direction: row;
  }

  nav span {
    order: 2;
    margin-top: 5px;
  }

  nav svg,
  nav img {
    order: 1;
  }

  nav label {
    display: none;
  }

  nav label span {
    visibility: hidden;
    height: 0;
  }

  nav input {
    display: none;
  }

  nav input:checked ~ ul {
    max-height: 500px;
    background-color: rgb(173, 15, 15);
  }

  nav ul li:nth-child(1) a,
  nav ul li:nth-child(1) a:visited,
  nav ul li:nth-child(1) a:hover,
  nav ul li:nth-child(1) a:active {
    position: absolute;
    left: 0;
    top: -89px;
    width: 77px;
    height: 84px;
    background-color: #eb5428;
    text-align: center;
  }

  nav ul li:nth-child(1) span {
    visibility: hidden;
  }

  nav ul li:nth-of-type(n + 2) a,
  nav ul li:nth-of-type(n + 2) a:visited,
  nav ul li:nth-of-type(n + 2) a:hover,
  nav ul li:nth-of-type(n + 2) a:active {
    height: 121px;
  }

  nav ul li:last-of-type a,
  nav ul li:last-of-type a:visited,
  nav ul li:last-of-type a:hover,
  nav ul li:last-of-type a:active {
    text-transform: uppercase;
    position: absolute;
    left: 684px;
    top: -100px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    height: 84px;
    width: 84px;
  }

  nav li:hover {
    background-color: #eb5428;
  }

  nav ul li:last-of-type a:hover svg,
  nav ul li:nth-of-type(n + 2) a:hover {
    color: white;
    background-color: #eb5428;
    stroke: white;
  }


  nav label svg {
    margin-top: 21px;
  }

  nav #home svg {
    margin-top: -8px;
    margin-left: 5px;
  }

  nav #home span {
    font-size: 0;
  }

  nav img {
    display: inline-block;
    width: 60px;
  }

  nav #sign-in span {
    color: #0d0d0d;
  }

  #sign-in svg {
    margin-top: 18px;
  }

  form button {
    background-color: #eb5428;
  }

  form fieldset {
    visibility: hidden;
    font-size: 0;
  }

  #search {
    position: relative;
    top: -2593px;
    display: flex;
    width: 100%;
    max-width: 768px;
    height: 86px;
    background-color: white;
    padding-top: 0;
    z-index: 0;
  }

  #search input,
  #search button {
    margin: 18px -126px 10px 125px;
    height: 45px;
    border: 2px solid #eb5428;
  }

  #search input {
    width: 265px;
    font-size: 12px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "footer-image social"
      "small1 social"
      "small2 social";
    background-color: white;
  }

  footer {
    height: auto;
    padding: 20px 0;
    z-index: 20;
    margin-top: -84px;
  }

  footer ul {
    margin-top: -160px;
  }

  footer img {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
    margin-top: 211px;
    background-color: #f2f2f2;
  }

  #st-tacos h1 {
    text-align: center;
  }

  #st-tacos menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    background-color: white;
    height: 765px;
    width: 97%;
    border: 2px solid #eb5428;
  }

  #st-tacos a {
    margin: 30px auto 0 auto;
  }

  #st-tacos img {
    width: 100%;
  }

  #st-tacos p {
    width: 98%;
  }

  #st-tacos {
    display: grid;
    grid-template-columns: 0.9fr 4fr 5.1fr;
    grid-template-areas:
      "h1 h1 h1"
      "menu1 img p1"
      "menu1 img p2"
      "menu1 img  . "
      "menu1 img  . ";
  }

  #st-tacos p {
    line-height: 2;
  }
  #st-tacos h1 {
    grid-area: h1;
  }
  #st-tacos menu {
    grid-area: menu1;
  }

  #st-tacos img {
    grid-area: img;
  }

  #st-tacos p:first-of-type {
    grid-area: p1;
  }

  #st-tacos p:last-of-type {
    grid-area: p2;
  }

#details {
    background-color: #0d0d0d;
    color: #7ABFBF;
    padding-top: 5px;
    padding-bottom: 5px;
}

#details h2{
    margin-top: 10px;
}

#details ul {
    display: flex;
    justify-content: space-evenly;
}

#details span {
    display: block;
}

  #ingredients {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    height: 418px;
    margin: 5px 0 0 0;
  }

  #ingredients h2 {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #ingredients ul {
    line-height: 2.11;
  }


  #directions {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 418px;
    margin-top: 5px;
  }

  #directions h2 {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #directions ol {
    padding-left: 25px;
  }


  nav {
    position: absolute;
    top: 0;
    width: 1280px;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 126px;
  }

  nav ul {
    overflow: visible;
    position: relative;
    top: -3px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    width: 871px;
    align-items: flex-start;
    margin-top: 5px;

    left: 211px;
  }

  label span,
  nav input {
    display: none;
  }

  nav a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eb5428;
    flex-direction: row;
  }

  nav span {
    order: 2;
    margin-top: 5px;
  }

  nav svg,
  nav img {
    order: 1;
  }

  nav label {
    display: none;
  }

  nav label span {
    visibility: hidden;
    height: 0;
  }

  nav input {
    display: none;
  }

  nav input:checked ~ ul {
    max-height: 500px;
    background-color: rgb(173, 15, 15);
  }

  nav ul li:nth-child(1) a,
  nav ul li:nth-child(1) a:visited,
  nav ul li:nth-child(1) a:hover,
  nav ul li:nth-child(1) a:active {
    position: absolute;
    left: -211px;
    top: -3px;
    width: 120px;  
    height: 127px;
    background-color: #eb5428;
    text-align: center;
  }

  nav ul li:nth-child(1) span {
    visibility: hidden;
  }

  nav ul li:nth-of-type(n + 2) a,
  nav ul li:nth-of-type(n + 2) a:visited,
  nav ul li:nth-of-type(n + 2) a:hover,
  nav ul li:nth-of-type(n + 2) a:active {
    height: 121px;
  }

  nav ul li:last-of-type a,
  nav ul li:last-of-type a:visited,
  nav ul li:last-of-type a:hover,
  nav ul li:last-of-type a:active {
    text-transform: uppercase;
    position: absolute;
    left: 960px;
    top: 8px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    height: 84px;
    width: 84px;
  }

  nav a,
  nav a:visited,
  nav a:hover,
  nav a:active {
    text-decoration: none;
  }

  nav li:hover {
    background-color: #eb5428;
  }

  nav ul li:last-of-type a:hover svg,
  nav ul li:nth-of-type(n + 2) a:hover {
    color: white;
    background-color: #eb5428;
    stroke: white;
    /* height: 18px; */
  }


  nav label svg {
    margin-top: 21px;
  }

  nav #home svg {
    margin-top: -8px;
    margin-left: 15px;
  }

  nav #home span {
    font-size: 0;
  }

  nav img {
    display: inline-block;
    width: 60px;
  }

  nav #sign-in span {
    color: #0d0d0d;
  }

  #sign-in svg {
    margin-top: 18px;
  }

  form button {
    background-color: #eb5428;
  }

  form fieldset {
    visibility: hidden;
    font-size: 0;
  }

  #search {
    position: absolute;
    top: 126px;
    display: flex;
    max-width: 1280px;
    height: 88px;
    background-color: #f2f2f2;
    padding-top: 0;
  }

  #search input,
  #search button {
    margin: 46px -37px 10px 36px;
    height: 45px;
    border: 2px solid #eb5428;
  }

  #search input {
    width: 265px;
    font-size: 12px;
  }


  #side-dishes {
    height: 460px;
    border-bottom: none;
  }
  .side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #side-dishes img {
    width: 78%;
    padding-left: 29px;
  }

  #side-dishes h2 {
    padding: 9px 0 0 29px;
  }

  .sides-container {
    padding-top: 21px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "side-image side-image"
      "side-heading side-heading "
      "side-p1 side-p1"
      "side-p2 star-container";
  }

  .sides-container p {
    margin: 0 0 0 49px;
    width: 70%;
    line-height: 1.5;
  }
  .sides-container h3 {
    margin: 12px 0 5px 49px;
    padding-bottom: 8px;
  }

  .star-container {
    margin-left: -50px;
  }

  footer {
    display: grid;
    grid-template-columns: 300px 200px 1fr;
    grid-template-areas:
      "footer-image small1 social"
      "footer-image small2 social"
      "footer-image .  social";
    background-color: white;
    height: 199px;
    padding: 20px 0;
    margin-top: 0;
    align-self: baseline;
  }

  footer ul {
    margin-top: -97px;
    justify-self: end;
    width: 643px;
  }

  footer img {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
    align-self: end;
  }

  .small1 {
    text-align: left;
    margin: 16px 0 0 -50px;
  }

  .small2 {
    text-align: left;
    margin: -88px 0 0 -58px;
  }
}

